/** to be used globally **/
@font-face {
    font-family: 'SUSE';
    src: url('./SUSE-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SUSE';
    src: url('./SUSE-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SUSE';
    src: url('./SUSE-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SUSE';
    src: url('./SUSE-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SUSE';
    src: url('./SUSE-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SUSE';
    src: url('./SUSE-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SUSE';
    src: url('./SUSE-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SUSE';
    src: url('./SUSE-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }