html, body {
    height: 100%;
    margin: 0;
  }
  
  #root {
    height: 100%;
    display: flex;
  }
.container {
    background-color: #4dabf5;
    flex: 1;
}
.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
  }

.suse-light {
    font-family: 'SUSE', sans-serif;
    font-weight: 300;
  }
  
  .suse-bold {
    font-family: 'SUSE', sans-serif;
    font-weight: 700;
  }